extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/stylecart.css

block content
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.jfif", alt="")
                p E.S

            li #[a(href="/") Home]
            li #[a(href="/shop") Shop]
            li #[a(href="/cart") Cart]
            li #[a(href="/contact") Help Center]
    
    section#cart
        h1 Cart
        ul#cartItems
        
        div#buttons-container
            button#clearCart Clear Cart
            button#checkout Checkout
