extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css 
        include ../static/stylecontact.css 

block content
    nav#navbar
        ul 
            div#logo
                img(src="/static/logo.jfif", alt="")
                p E.S

            li #[a(href="/") Home]
            li #[a(href="/shop") Shop]
            li #[a(href="/cart") Cart]
            li #[a(href="/contact") Help Center]
            

    div.conatiner
        h1 Help Center

        form(id='contactForm', action='/contact', method='post', class='myForm')

            input(type='text', class='myInput', name='name', placeholder='Enter your name..',required)
            input(type='phone', class='myInput', name='phone', placeholder='Enter your phone..',required)
            input(type='email', class='myInput', name='email', placeholder='Enter your email..',required)
            input(type='text', class='myInput', name='address', placeholder='Enter your address..',required)
            input(type='text', class='myInput', name='desc', placeholder='Enter your concerns..',required)

            button.btn
                |   Submit
        

        //- JavaScript for handling form submission and showing alerts
        script.
            document.getElementById('contactForm').addEventListener('submit', function(event) {

                const formData = new FormData(this);

                // Send POST request to server
                
                fetch('/contact', {
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    alert("Form submitted successfully");
                    this.reset();
                    window.location.href = '/contact';
                })
                .catch(error => {
                    alert("Form failed to submitted");
                    console.error('Error:', error);
                });
            });

                 
    // New Footer Section
    footer#footer
        div.footer-content
            div.footer-section
                img(src="/static/logo.jfif", alt="")
            div.footer-section
                h3 Quick Links
                ul
                    li
                        a(href="/customer-service#about-us") About Us
                    li
                        a(href="/customer-service#return-policy") Return Policy
                    li
                        a(href="/customer-service#faqs") FAQs
                    li
                        a(href="/customer-service#reviews") Reviews
                    li
                        a(href="/contact") Contact Us
            div.footer-section
                h3 Product Categories
                ul
                    li
                        a(href="/shop#product4") Clothing
                    li
                        a(href="/shop#product2") Formal
                    li
                        a(href="/shop#product12") Footwear
                    li
                        a(href="/shop#product21") Accessories
                    li
                        a(href="/shop#product15") Watches
                    li
                        a(href="/shop#product18") Bags

        div.copyright
            p &copy; www.easyshop.com. All rights reserved
            div.social-media
                a(href="https://www.facebook.com" target="_blank")
                    img(src="/static/fb.webp", alt="Facebook")
                a(href="https://www.instagram.com" target="_blank")
                    img(src="/static/ig.webp", alt="Instagram")
                a(href="https://www.whatsapp.com" target="_blank")
                    img(src="/static/whatsapp.webp", alt="WhatsApp")

            h4 Mail: easyshop@gmail.com
            h4 Phone: 1231231234
            h4 Location: 10 Street Phase 2, karachi, Pakistan