extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/stylecustomerservice.css

block content
    nav#navbar
        ul 
            div#logo
                img(src="/static/logo.jfif", alt="")
                p E.S

            li #[a(href="/") Home]
            li #[a(href="/shop") Shop]
            li #[a(href="/cart") Cart]
            li #[a(href="/contact") Help Center]

    // Top Heading for Customer Service Page
    div#customer-service-heading
        h1 Customer Service

    // About Us Section
    div#about-us.section
        h2 About Us
        p Welcome to E.S, your premier online destination for stylish men's apparel and accessories. Founded with a passion for fashion and a commitment to quality, we strive to offer you the latest trends and timeless classics that elevate your style. Our mission is to provide an unparalleled shopping experience, combining exceptional customer service with a curated selection of products tailored to meet your fashion needs. Whether you're searching for the perfect suit, casual wear, or must-have accessories, we're here to help you look and feel your best, every day.
        
        div.section-images
            img(src="/static/cs.png", alt="Customer Service Image")
            img(src="/static/trusted.jfif", alt="Trusted Image")

    // Return Policy Section
    div#return-policy.section
        h2 Return Policy
        p Our return policy lasts 7 days. To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
        div.section-images
            img(src="/static/ret.png", alt="Return Policy Image")

    // FAQs Section
    div#faqs.section
        h2 FAQs
        p Here are some frequently asked questions:
        ul
            li
                a(href="javascript:void(0)") What payment methods do you accept?
                div.answer(style="display: none;")
                    p We accept Visa, MasterCard and Cash.
            li
                a(href="javascript:void(0)") How long does shipping take?
                div.answer(style="display: none;")
                    p Shipping usually takes 3-5 business days within Pakistan.
            li
                a(href="javascript:void(0)") Can I cancel my order?
                div.answer(style="display: none;")
                    p You can cancel your order within 12 hours of placing it.
            li
                a(href="javascript:void(0)") What to do if my order is defective?
                div.answer(style="display: none;")
                    p If your order is defective, please contact our customer support for assistance and we will exchange it.


    // Reviews Section
    div#reviews.section
        h2 Reviews
        h3 Read what our customers have to say about us!

        // Container for Existing Reviews
        .reviews-container 

        // Form for Adding Review
        form#add-review-form
            label(for="customerName") Your Name:
            input#customerName(type="text", name="customerName", required)

            label(for="reviewText") Review:
            textarea#reviewText(name="reviewText", rows="3", required)

            button#submit-review-btn(type="submit") Submit Review



    // New Footer Section
    footer#footer
        div.footer-content
            div.footer-section
                img(src="/static/logo.jfif", alt="")
            div.footer-section
                h3 Quick Links
                ul
                    li
                        a(href="/customer-service#about-us") About Us
                    li
                        a(href="/customer-service#return-policy") Return Policy
                    li
                        a(href="/customer-service#faqs") FAQs
                    li
                        a(href="/customer-service#reviews") Reviews
                    li
                        a(href="/contact") Contact Us
            div.footer-section
                h3 Product Categories
                ul
                    li
                        a(href="/shop#product4") Clothing
                    li
                        a(href="/shop#product2") Formal
                    li
                        a(href="/shop#product12") Footwear
                    li
                        a(href="/shop#product21") Accessories
                    li
                        a(href="/shop#product15") Watches
                    li
                        a(href="/shop#product18") Bags

        div.copyright
            p &copy; www.easyshop.com. All rights reserved
            div.social-media
                a(href="https://www.facebook.com" target="_blank")
                    img(src="/static/fb.webp", alt="Facebook")
                a(href="https://www.instagram.com" target="_blank")
                    img(src="/static/ig.webp", alt="Instagram")
                a(href="https://www.whatsapp.com" target="_blank")
                    img(src="/static/whatsapp.webp", alt="WhatsApp")

            h4 Mail: easyshop@gmail.com
            h4 Phone: 1231231234
            h4 Location: 10 Street Phase 2, Karachi, Pakistan
