#cart {
    height: 3000px;
    margin-top: 25px;
    margin: auto;
}

#cart h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
    height: 80px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#clearCart, #checkout {
    display: inline-flex;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 20px;
}

#clearCart:hover, #checkout:hover {
    background-color: white;
    color: black;
}

.cart-item-image {
    width: 150px;
    height: 175px;
    vertical-align: middle;
    margin: 15px 30px;
}

.cart-item-text {
    font-size: 22px;
}

.remove-item-btn {
    background-color: black;
    color: white;
    padding: 6px 8px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 30px;
}

.remove-item-btn:hover {
    background-color: white;
    color: black;
}
